    .div-parent{
        font-family:Helvetica,sans-serif;
        background-color: #242933;
        width: 100%;
        height: 100%;
        text-align: center;            
    }
    .enviar-button{
        color:white;
        background-color: rgba(108,99,255,255);
        text-align: center;
        cursor: pointer;
    }
    .form{
        display: inline-block;
        width: 40%;
        background-color: rgba(47,54,68,255);     
        height: 100%;             
    }
    .h1{
        color: rgba(173,187,227,255);
        text-align: left;
        margin-left: 15%;

    }
    .input-label{
        color: rgba(124,134,166,255);
        text-align: left;
        margin-left: 15%;
        margin-bottom: 0.5%;
    }
    input{
        border-radius: 5px;
        height: 35px;
        width: 70%;
        margin-bottom: 1%;
    }     
    .error-label{
        text-align: left;
        margin-left: 15%;
        color: crimson;
        font-size: 11;
        margin-top: 3px;
        margin-bottom: 6px;
        visibility: hidden;   
 }      
